<!-- <ion-header>
  <ion-toolbar>
    <!-- <ion-title>androidShop</ion-title> -->
<!-- </ion-toolbar> -->
<!-- </ion-header> -->

<ion-content>

  <div
    style="height: 50vh;display: flex;align-items: center;justify-content: center;color: limegreen;font-size: 2rem;border-bottom: 1px solid lightcoral;"
    routerLink="/buy/buy-login">
    <ion-icon name="man"></ion-icon>我是买家

  </div>

  <div style="height: 50vh;display: flex;align-items: center;justify-content: center;color: limegreen;font-size: 2rem;"
    routerLink="/sell-home">
    <ion-icon name="cart"></ion-icon>
    我是卖家
  </div>


</ion-content>